<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About film</title>
    <style>
        body {
            text-align: center;
            color: hotpink;
            background: url('/Images/Barbi.jpeg') no-repeat center center fixed;
            background-size:cover;
        }
    </style>
</head>
<body>
    <h2>About film</h2>
    <h1>О фильме "Барби"</h1>
    <p>
        Самая обыкновенная стереотипная Барби живёт в великолепном розовом Барбиленде, 
        и каждый её день идеален. Она меняет наряды, загорает на пляже, проводит время с другими Барби,
        день заканчивается шумной вечеринкой с танцами, и в этой позитивной кутерьме с блёстками влюблённый 
        Кен — всего лишь приложение к Барби. Однажды куклу посещают мысли о смерти,
        и её сделанные под туфли с каблуками ноги вдруг становятся плоскими. 
        Чтобы разобраться в происходящем и вернуть привычный пластмассовый мир,
        Барби придётся отправиться в мир реальный и найти там свою девочку-хозяйку. 
        За ней увязывается не мыслящий жизни без своего кумира Кен.
</body>
</html>
