<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About film</title>
    <style>
        body {
            text-align: center;
            color: green;
            background: url('/Images/Drave.jpeg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <h2>About film</h2>
    <h1>О фильме "ДРАЙВ"</h1>
    <p>"Драйв" (2011) – это фильм режиссёра Николаса Виндинга Рефна,
        который стал культовым благодаря своему уникальному стилю, 
        мрачной атмосфере и превосходному исполнению актерского состава. 
        Главную роль исполнил Райан Гослинг, играющий водителя, 
        профессионала по контрабанде в мире криминала Лос-Анджелеса.
        Фильм замечателен своей стильной и точной режиссурой,
        минималистичным сценарием и захватывающей музыкальной атмосферой. 
        "Драйв" сочетает в себе элементы нуара, триллера и экшна, 
        представляя зрителю тёмную историю о любви, предательстве и насилии, 
        обёрнутую в великолепный визуальный нарратив.</p>
</body>
</html>